@page
@using DSV_Book_a_room.Models
@model DSV_Book_a_room.Pages.Rooms.RoomsModel
@{
    ViewData["Title"] = "Booking Form";
}
<h2 style="font-family: Verdana, regular">Booking Form</h2>

<form method="post" asp-page-handler="FilterRooms" class="col-sm-6">
    <div class="mt-3">
        <label class="col-form-label-lg" style="font-family: Verdana, regular">Start time</label>
        <input class="form-control" asp-for="StartTime" />
    </div>
    <div class ="mt-3">
        <label class="col-form-label-lg" style="font-family: Verdana, regular">End time</label>
        <input class="form-control" asp-for="EndTime" />
    </div>
    <div class="mt-3">
        <label class="col-form-label-lg" style="font-family: Verdana, regular">Filter Seats</label>
        <input class="form-control" asp-for="FilterSeats" />
    </div>
    <div class="mt-3">
        <label class="col-form-label-lg" style="font-family: Verdana, regular">Filter Equipment</label>
        <select class="form-control" asp-for="FilterEquipment" asp-items="Html.GetEnumSelectList<EquipmentEnum>()">
            <option value="">--Choose--</option>
        </select>
    </div>
    <div class="mt-3">
        <button type="submit" class="btn btn-primary" style="font-family: Verdana, regular">Find rooms</button>
    </div>
</form>

@if(Model.ShowRooms){
    <table class="table mt-5" style="font-family: Verdana, regular">
    <thead>
        <tr>
            <th>Room name</th>
            <th>Seating</th>
            <th>Equipment</th>
            <th>Book description</th>
        </tr>
    </thead>

    <tbody>
        @foreach (Room room in Model.rooms)
        {
            <form method="post" asp-page-handler="BookRooms" asp-route-id="@room.Id">
            <tr>
                    <td>
                        @room.Name
                    </td>
                    <td>
                        @room.Seating
                    </td>
                    <td>
                        @string.Join(", ",room.Equipment.Select(e =>e.ToString()))
                    </td>
                    <td>
                    <input class="form-control" asp-for="BookingDescription"/>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary" style="font-family: Verdana, regular">Book room</button>
                    </td>
                </tr>
            <input type="hidden" asp-for="StartTime" value="@Model.StartTime" />
            <input type="hidden" asp-for="EndTime" value="@Model.EndTime" />
            </form>
        }
    </tbody>
</table>
}

@* This is the popup that will be shown when the action is completed successfully *@
@if (Model.ShowPopup)
{
    <script style="font-family: Verdana, regular">
        alert("Booking completed successfully!");
    </script>
}